* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  max-width: 1000px;
  margin: auto;
}

.text-center {
  text-align: center;
}

#carousel {
  display: flex;
  flex-wrap: nowrap;
  margin-left: -15px;
  margin-right: -15px;
  overflow-x: scroll;
  /* scroll-behavior: smooth; */
  cursor: grab;
}

#carousel .item {
  margin-left: 15px;
  margin-right: 15px;
}

#carousel .item:first-child,
#carousel .item:last-child {
  margin-left: 0;
}

#carousel .item a {
  display: block;
  text-decoration: none;
}
